ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
button:hover {
  color: #fff;
  background-color: black;
}
.icon {
  margin-right: 10px;
}
